# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[{Vagrant,Cap,Rake,Gem,}file]
indent_size = 2

[*.lua]
indent_style = space
indent_size = 2

[*.vim]
indent_style = space
indent_size = 2

[*.go]
indent_style = space
indent_style = tab

[*.md]
indent_size = 2

[*.asm]
indent_size = 4
indent_style = space

[{Makefile,gitconfig}]
indent_style = tab

[*.c]
indent_size = 4
indent_style = space

[*.vue]
indent_size = 2
indent_style = space

[*.ts]
indent_size = 2
indent_style = space
