~/.config/pulse
.cfg
~/.config/nvim/autoload/
~/.config/nvim/.netrwhist
~/.config/nvim/plugged/
~/.config/autostart/*
~/.config/clipit/*
~/.config/dconf/*
~/.config/dmenu-recent/*
~/.config/epdfview/*
~/.config/gconf/*
~/.config/gtk-3.0/*
~/.config/hexchat/*
~/.config/htop/*
~/.config/morc_menu/*
~/.config/qt5ct/*
~/.config/qupzilla/*
~/.config/volumeicon/*
~/.config/xfce4/*
~/.config/manjaro-hello.json
~/.config/mimeapps.list
~/.config/pavucontrol.ini
~/.config/user-dirs.dirs
~/.config/user-dirs.locale
