[user]
	email = 20868514+carsin@users.noreply.github.com
	name = carsin
	# signingkey = 528F41716A62A8A1
[core]
	editor = nvim
	pager = less -r
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	# gpgsign = true
[color]
	ui = auto
[alias]
	a = add
	rm = rm -r
	d = diff
	co = checkout
	c = commit
	cm = commit -m
	ca = commit -a
	cam = commit -a -m
	p = push origin
	pl = pull origin
	s = status
	st = status
[credential]
	helper = store --file ~/.cache/git/.git-credentials
