#include "/home/carson/.cache/wal/colors.Xresources"
! multiples of 96 ideal, 92 for 24 1920x1080
Xft.dpi: 110
! https://freedesktop.org/software/fontconfig/fontconfig-user.html
Xft.font: TerminessTTF Nerd Font:size=11:antialias=false:autohint=true
st.font: TerminessTTF Nerd Font:size=11:antialias=false:autohint=true
Xft.autohint: 1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.rgba: rgb
