#include "/home/carson/.cache/wal/colors.Xresources"
! multiples of 96 ideal, 92 for 24 1920x1080
Xft.dpi: 109
! https://freedesktop.org/software/fontconfig/fontconfig-user.html
Xft.font: Terminus:size=11:antialias=true:hinting=true:embeddedbitmap=false
! st.font: Terminus:size=11:antialias=true:hinting=true:embeddedbitmap=false
Sxiv.font: Terminus:size=11:antialias=true:hinting=true:embeddedbitmap=false
Sxiv.mark: #fb4934
Sxiv.background: #101010
Sxiv.foreground: #ebdbb2
Sxiv.barbackground: #101010
Sxiv.barforeground: #ebdbb2
xmenu.font: Terminus:size=11:antialias=true:hinting=true:embeddedbitmap=false
! Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
! Xft.hinting: 1
Xft.rgba: rgb
